[submodule "mpv_helper/packages/mpv"]
	path = mpv_helper/packages/mpv
	url = git@github.com:BilderLoong/mpv.git
[submodule "mpv_helper/packages/mpvacious"]
	path = mpv_helper/packages/mpvacious
	url = git@github.com:Ajatt-Tools/mpvacious.git
