[submodule "yarn-workspaces-playground/yarn-workspaces-example"]
	path = yarn-workspaces-playground/yarn-workspaces-example
	url = git@github.com:BilderLoong/yarn-workspaces-example.git
[submodule "mpv_helper/mpv_helper/packages/mpv"]
	path = mpv_helper/mpv_helper/packages/mpv
	url = git@github.com:BilderLoong/mpv.git
